.custom-button {
  border-color: #ff8243;
  color: black;
  display: inline-block;
  font-size: 0.875rem;
  width: 139px !important;
}
.custom-button:hover {
  color: black;
  background-color: white;
}
