.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.image-card {
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  width: 300px;
}

.gallery-button{
  padding: 10px;
  cursor: pointer;
}
.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.gallery {
  display: flex;
  align-items: center;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 10px;
  transition: all 0.5s ease;
  user-select: none;
}

.main-image {
  width: 300px;
  height: 300px;
}

.side-image {
  transform: scale(0.8) translateY(0px);
}

.far-side-image {
  transform: scale(0.6) translateY(100px);
}

/* Responsive CSS */

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .image-card {
    width: 100%;
  }

  .main-image {
    width: 200px;
    height: 200px;
  }

  img {
    width: 100px;
    height: 100px;
  }
}

/* For tablets: */
@media only screen and (min-width: 768px) {
  .image-card {
    width: 70%;
  }

  .main-image {
    width: 250px;
    height: 250px;
  }

  img {
    width: 125px;
    height: 125px;
  }
}

/* For desktop: */
@media only screen and (min-width: 992px) {
  .image-card {
    width: 300px;
  }

  .main-image {
    width: 300px;
    height: 300px;
  }

  img {
    width: 150px;
    height: 150px;
  }
}